* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Barre de navigation */
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }

  /* Changer la taille du logo */
.logo img {
  width: 50%;
  height: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #a80000;
  }

  /* Bouton Formulaire (Call-to-Action) */
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(140, 0, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgb(168, 0, 0, 0.8);
  }

  /* Barre de navigation pour les téléphones */

.menu {
  display: none;
  
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: #a80000;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
  
  body {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: #333333;
  }

  footer {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
    padding: 10px;
    background: #470000;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
  
  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  
  p a {
    text-decoration: underline;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    padding-top: 6%;
  }
  
  a {
    color: #333333;
  }
    
  a:hover,
  a:focus {
    color: #000000;
  }
    
  a img:hover, a img:focus {
    cursor: zoom-in;
  }

    /* Class main pour avoir le texte centré et laisser les bords vides*/

  .main_1 {
    padding-top: 0;
    padding-right: 25%;
    padding-bottom: 0;
    padding-left: 25%;
    flex: 0 0 auto;
  }

/* Class main pour avoir le texte centré et laisser les bords vides*/

@media only screen and (max-width: 950px) {
   .main_1 {
      padding-left: 10%;
      padding-right: 10%;
   }
}

@media only screen and (max-width: 600px) {
   .main_1 {
      padding-left: 5%;
      padding-right: 5%;
   }
}

  /* Images */

  .fit-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

    /* Formulaire */

  .form {
    width:480px;
    height:640px;
    background:#f8f3f3;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(60vh - 350px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;font-family:'Montserrat',sans-serif;
    position:relative;
  }

@media only screen and (max-width: 600px) {
   .form {
      padding-left: 5%;
      padding-right: 5%;
   }
}

  .h2-form {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#811212;
    border-bottom:3px solid #811212;
  }

  input {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;border:0;
    font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #811212;
  }
  input:focus {
    border-bottom:2px solid #811212;
  }

  p:before {
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a;
  }

  button {
    float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;
    border:2px solid #811212;background:0;
    color:#811212;cursor:pointer;transition:all .3s;
  }

  button:hover {
    background:#811212;
    color:#fff;
  }
